{% extends 'main/layout.html' %}
{% load static %}

{% block body %}

<div class="container-fluid">
    <div class="text-center"> 
        <h1 class="h3 mb-2 text-primary font-weight-bolder">Doctor Schedules</h1><br>
    </div>


    <div class="mt-3 card shadow mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Doctors Schedules</h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered tally-table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Specialization</th>
                            <th>Gender</th>
                            <th>Available Day</th>
                            <th>Available Times</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doctor in doctors %}
                        <tr>
                            <td> {{ doctor.last_name }}, {{ doctor.first_name }} </td>
                            <td> {{ doctor.specialization }} </td>
                            <td> {{ doctor.gender }} </td>
                            <td> {{ doctor.available_day }} </td>
                            <td> {{ doctor.available_time }} </td>
                        </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}