{% extends 'main/layout.html' %}


{% block body %}

<div class="container"> 
    <h1 class="h3 mb-2 text-primary text-center font-weight-bolder">Update <b> {{ doctor }} </b></h1><br>
<form action="" method="POST" class="user" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mt-3">
        <label for="subject">Last Name: </label>
        {{ form.last_name }}
    </div>
    <div class="form-group mt-3">
        <label for="subject">First Name: </label>
        {{ form.first_name }}
    </div>
    <div class="form-group mt-3">
        <label for="subject">Birthday: </label>
        {{ form.birthday }}
    </div>
    <div class="form-group mt-3">
        <label for="subject">Gender: </label>
        {{ form.gender }}
    </div>
    <div class="form-group mt-3">
        <label for="subject">Phone Number: </label>
        {{ form.phone_number }}
    </div>
    <div class="form-group mt-3">
        <label for="subject">Address: </label>
        {{ form.address }}
    </div>
    <div class="form-group mt-3">
        <label for="subject">Specialization: </label>
        {{ form.specialization }}
    </div>
    <div class="form-group mt-3">
        <label for="subject">Available Days: </label>
        {{ form.available_day }}
    </div>
    <div class="form-group mt-3">
        <label for="subject">Available Time: </label>
        {{ form.available_time }}
    </div>
   <div class="d-flex justify-content-center">
   <input type="submit" value="Save" class="btn btn-primary btn-user  w-25">
   <a href="{{request.META.HTTP_REFERER}}" class="ml-3 btn btn-secondary btn-user  w-25">Cancel</a>
   </div>
</form>
</div>

{% endblock %}